body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgb(190, 241, 223);
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

#currentProfiles {
    margin: 20px;
    padding: 25px;
    border-radius: 2px;
    width: 300px; height: 350px;
     background-color: #A0DE21; 
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    float: left;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

#newProfile{
    margin: 0px;
    padding: 40px;
    border-radius: 2px;
    width: 500px; 
    height: 200px;
     background-color: #A0DE21; 
    -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    margin-left: 30%;
    align-items: center;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

#newLogin{
    margin: 25px;
    padding: 40px;
    border-radius: 2px;
    width: 300px; 
    height: 275px;
     background-color: #A0DE21; 
    -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    margin-left: 35%;
    align-items: center;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}
input {
    margin: 25px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: green;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    box-shadow: 3px 3px darkgreen;
  
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

#img1 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: left;
    margin-left:5%; 
}

#img2 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: right;
    margin-right: 5%;
    
  
}

#profileImg{
    max-width: 700px;
    height: 100px;
    margin-right: 0%;
    float:right;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

h1{
    text-align: center;
}

li{
    list-style-type: none; 
}

#individualProfileCard{
    background-color: #dbd5d5;
    align-content: center;
    width: 60%;
    height: 750px;
    margin-left: 15%;
    margin-top: 2%;
    padding: 25px;
    border-radius: 2px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #A0DE21; 
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

/* #card2{
    margin: 30px ;
    padding: 25px;
    border-radius: 2px;
    width: 300px; 
    height: 325px;
     background-color: #A0DE21; 
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    float: left;
} */

#editButton{
    margin-top: 20%;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
 
}

#selectButton{
    margin-top: 10%;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#deleteButton{
    margin-top: 10%;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#historyButton{
    float: right; 
    margin-top: 50%;
    margin-right: -25%;
    width: 110px;
    height: 30px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#profileName{
    float: right;
    margin-top: 75px;
    margin-right: 20px

}

#allProfilesNote{
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
}

#profileImg{
    float: right;
    size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#taskImg{
    float:left;
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
}

#taskImgBox{
    float:left;
    width: 100px;
    height: 130px;
    background-color: #9cc28e;
    background-position: center center;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin-bottom: 3px;
    margin-right: 3px;
}

#previewScheduleButton{
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#UserPage{
    margin: 25px;
    padding: 40px;
    border-radius: 2px;
    width: 450px; 
    height: 275px;
     background-color: #A0DE21; 
    -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    margin-left: 30%;
    align-items: center;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

#IndividualProfileImg{
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
    float: left;
    height: 100px;
    size: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10%;
}

#taskForm{
    background-color: rgb(203, 231, 171);
    float: right;
    width: 250px;
    height: 235px;
    background-position: center center;
    border-radius: 50px;
    background-repeat: no-repeat;
    margin: 20px;
    text-align: center;

}
#selectTaskButton{
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#CurrentTasks{
    text-align: center;
}

#taskLibrary{
    margin-top: 10px;
    float: left;
    background-color: rgb(203, 231, 171);
    width: 60%;
    background-position: center center;
    border-radius: 50px;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

#currentTaskListImage {
    max-width: 700px;
    height: 100px;
    margin-right: 5%;
    margin-top: 5%;
    float: left
}

