body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

#img1 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: left;
    margin-left:5%; 
}

#img2 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: right;
    margin-right: 5%;
    
  
}

#profileImg{
    max-width: 700px;
    height: 100px;
    margin-right: 5%;
}

h1{
    text-align: center;
}

li{
    list-style-type: none; 
}

#card{
    background-color: #dbd5d5;
    width: 50%;
    height: 450px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#card2{
    background-color: #dbd5d5;
    width: 35%;
    height: 175px;
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
    display: inline-block;
}

#editButton{
    float: left;
    margin-left: 10px;
}

#selectButton{
    float: left;
    margin-left: 30px;
}

#deleteButton{
    float: left;
    margin-left: 30px;
}

#profileName{
    float: right;
    margin-top: 0;

}

#profileNote{
    float: right;
}

#UserPage{
    float: center;
}

#taskForm{
    align-items: initial;
}

#CurrentTasks{
    text-align: center;
}

#currentTaskListImage {
    max-width: 700px;
    height: 100px;
    margin-right: 5%;
    margin-top: 5%;
    float: left
}