body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgb(190, 241, 223);
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

#currentProfiles {
    margin: 20px;
    padding: 25px;
    border-radius: 2px;
    width: 300px; height: 350px;
     background-color: #A0DE21; 
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    float: left;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

#newProfile{
    margin: 0px;
    padding: 40px;
    border-radius: 2px;
    width: 500px; 
    height: 200px;
     background-color: #A0DE21; 
    -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    margin-left: 30%;
    align-items: center;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

input {
    margin: 25px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: green;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  -moz-border-radius: 250px 0px;
    -webkit-border-radius: 150px 0px;
    border-radius: 150px 0px;
    box-shadow: 3px 3px darkgreen;
  
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

#img1 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: left;
    margin-left:5%; 
}

#img2 {
    max-width: 700px;
    height: 100px;
    background-color: powderblue;
    float: right;
    margin-right: 5%;
    
  
}

#profileImg{
    max-width: 700px;
    height: 100px;
    margin-right: 0%;
    float:right;
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

h1{
    text-align: center;
}

li{
    list-style-type: none; 
}

#individualProfileCard{
    background-color: #dbd5d5;
    width: 50%;
    height: 650px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #A0DE21; 
    box-shadow: 3px 3px grey, -1em 0 .4em dimgray;
}

/* #card2{
    margin: 30px ;
    padding: 25px;
    border-radius: 2px;
    width: 300px; 
    height: 325px;
     background-color: #A0DE21; 
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    float: left;
} */

#editButton{
    float: right;
    margin-left: 10px;
    margin-top: 50px;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
  background-color: #256652;
  color: white;
  box-shadow: 3px 3px darkgreen;
 
}

#selectButton{
    float: left;
    margin-left: 10px;
    margin-top: 130px;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#deleteButton{
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    width: 70px;
    -moz-border-radius: 150px 0px;
    -webkit-border-radius: 120px 0px;
    border-radius: 250px 0px;
    background-color: #256652;
    color: white;
    box-shadow: 3px 3px darkgreen;
}

#profileName{
    float: right;
    margin-top: 75px;
    margin-right: 20px

}

#profileNote{
    float: left;
    margin-top: 30px;
    margin-bottom: 0px;
}

#profileImg{
    float: right;
}

#taskImg{
    float:left;
    max-width: 700px;
    height: 100px;
    margin: 10px;
}


#UserPage{
    float: center;
}

#taskForm{
    align-items: initial;
}

#CurrentTasks{
    text-align: center;
}

#currentTaskListImage {
    max-width: 700px;
    height: 100px;
    margin-right: 5%;
    margin-top: 5%;
    float: left
}